.app {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.wrapper {
  display: grid;
  grid-auto-columns: 1280px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
}

.main {
  min-width: 100%;
  padding: 15px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  cursor: pointer;
}
/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #61dafb;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
